$mainColor: #1E1E1E;
$textColor: #FAFBFB;

// Mixins
@mixin fixed-top {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

// Base styling
* {
  box-sizing: border-box;
}

html,
body {
  // font-family: "itc-avant-garde-std-md", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $mainColor;
  overflow-x:hidden;
}
 
// Navbar 
header {

  & .fixed-top {
    @include fixed-top;
  }

  & nav {
    grid-area: links;
    margin: 0;
    padding: 1rem;
    // border: 1px solid red;
    background-color: none;
    display: flex;
    justify-content: flex-end;

    & .nav-links {
      list-style: none;
      padding: 0.5rem 2rem;
      margin: 2.5rem 0 2rem 0;
      width: 40%;
      display: flex;
      // border: 1px solid green;
      justify-content: space-evenly;


      & .nav-link {
        margin: 0;
        padding: 0;
        // border: 1px solid blue;
        font-size: 1.3rem;

        a {
          color: $textColor;
          text-decoration: none;
        }
      }
    }
  }
}

// Logo
main {
  & .mask-group {
    z-index: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .logo {
    z-index: 1;
    position: relative;
    top: -40rem;
    left: 0;

    img {
      position: relative;
      left: 9rem;
      height: auto;
      width: 10rem;
    }

  }
}