$mainColor: #1e1e1e;
$secondaryColor: #4bba83;
$textColor: #fafbfb;
$fadedColor: #303030;
$facebook-color: #3b5998;
$twitter-color: #50abf1;
$instagram-color: #de2b7c;
$github-color: #333333;

// button .collapsible-header {
//   margin: 5px 10px !important;
// }

// Mixins
@mixin collapsible {
  line-height: 2.08vw;
  height: 4.58vw;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.25vw;
  padding: 1.5vw;
  background-color: $fadedColor;
  color: $textColor;
  width: 100%;
}

@mixin header {
  header {
    & .title-group {
      position: relative;
      left: -37.5vw;
      display: flex;
      white-space: nowrap;

      img {
        margin-right: 0.84vw;
        height: 3.4vw;
        width: auto;
      }

      & .title {
        // border: 1px solid purple;
        font-size: 4.17vw;
        line-height: 4.17vw;
        height: 3.58vw;
        color: white;
        font-family: "ITCBold", sans-serif;
      }
    }
  }
}

@mixin grid {
  display: grid;
  margin: 4.17vw 6.67vw;
  grid-gap: 16px;
}

// Fonts
@font-face {
  font-family: "ITCRegular";
  src: url("../fonts/ITCAvantGardeStd-Bk.otf");
}

@font-face {
  font-family: "ITCBold";
  src: url("../fonts/ITCAvantGardeStd-Bold.otf");
}

@font-face {
  font-family: "ITCDemi";
  src: url("../fonts/ITCAvantGardeStd-Demi.otf");
}

@font-face {
  font-family: "ITCMedium";
  src: url("../fonts/ITCAvantGardeStd-Md.otf");
}

// Base styling

* {
  box-sizing: border-box;
  cursor: default;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $mainColor;
  overflow-x: hidden;
}

body {
  display: block;
}

// Preloader
.pre-loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #030303;
  overflow-y: hidden;

  img {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Hamburger menu

.icon {
  display: none;
  z-index: 6;
  position: fixed;
  cursor: pointer;
  transform: translate(15px, 15px);

  &.is-active .line:nth-child(1) {
    opacity: 0;
    transform: translateX(-100%);
  }

  &.is-active .line:nth-child(3) {
    opacity: 0;
    transform: translateX(100%);
  }

  span {
    position: relative;
    top: 0.1rem;
    left: 0.5rem;
    display: inline-block;

    &.line {
      width: 20px;
      height: 2px;
      background-color: #ecf0f1;
      display: block;
      margin: 5px 0;
      border: none;
      margin: none;
      margin-right: auto;
      transition: all 0.3s ease-in-out;
    }
  }
}

.hamburger {
  opacity: 0.99;
  display: none;
  // background-color: red;
  // background: url('../vectors/hamburger-bg.svg');
  background-color: $secondaryColor;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  color: none;
  border: none;
  outline: none;
  width: 100%;
  font-family: "ITCDemi", sans-serif;
  position: fixed;
  clip-path: inset(0 100% 0 0);
  z-index: 5;
  transition: clip-path 0.5s ease-in-out;
  overflow: hidden;

  & .nav-links {
    text-align: center;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .nav-link {
      margin: 0;
      padding: 0;
      padding: 1vw;

      a {
        color: $textColor;
        cursor: pointer;
        text-decoration: none;
        font-size: 2em;
      }
    }
  }

  &.active {
    clip-path: inset(0 0 0 0);
  }
}

.bookmark {
  height: 1rem;
}

.page {
  margin: 6rem 0;
  min-height: 1vh;
}

// Navbar
header.nav-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.25vw;
  padding: 0;
  height: 20vh;
  width: 100vw;
  font-family: "ITCRegular", sans-serif;

  &.scrolled {
    height: auto;

    nav {
      opacity: 1;
      border-bottom: 1px solid $secondaryColor;
      background-color: $mainColor;

      & .logo {
        opacity: 1;
      }
    }
  }

  & nav {
    margin: 0;
    // border: 1px solid red;
    background-color: none;
    padding: 10px 3.34vw;
    font-size: 1.25vw;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      opacity: 0;

      img {
        width: 3vw;
        transform: scale(0.8);
        height: auto;
        cursor: pointer;
        margin: 5px 0;
      }
    }

    & .nav-links {
      list-style: none;
      width: 40%;
      display: flex;
      margin-left: auto;
      justify-content: space-evenly;
      // border: 1px solid green;
      transform: translateX(10%);
      margin: 0;
      padding: 0;

      & .active {
        &.nav-link {
          a {
            color: $secondaryColor;
            text-decoration: underline;
          }
        }
      }

      & .nav-link {
        padding: 0;
        // border: 1px solid blue;

        a {
          color: $textColor;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.landingPage {
  z-index: -1;
  margin-top: 0;
  height: 100vh;
  width: 100%;
  background: url("../vectors/landing-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow-x: hidden;

  // Caption
  main {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 40vh;

    & .hero-section {
      overflow: hidden;
      // border: 1px solid gray;
      width: 80vw;
      height: 70vh;
      padding: 0.84vw 4.17vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & .hero-title {
        // border: 1px solid purple;
        margin: auto 0;
        width: 80%;
        height: 70%;
        padding: 0;
        margin-left: 8.92vw;
        display: grid;
        grid-template-columns: repeat(auto, 1fr);
        grid-template-areas: "logo title title title title";
        grid-gap: 2.92vw;
        align-items: start;
        justify-content: start;

        img {
          grid-area: logo;
          width: 10vw;
          height: auto;
        }

        & .title-group {
          // border: 1px solid green;
          padding: 3.17vw 0;
          grid-area: title;
          color: white;
          text-align: right;
          line-height: 2.5vw;
          height: 100%;

          & .title {
            font-size: 4.5vw;
            font-family: "ITCMedium", sans-serif;
          }

          & .sub-title {
            font-size: 2.4vw;
            font-family: "ITCMedium";
          }

          & .button-container {
            // border: 1px solid steelblue;
            margin-top: 6.53vw;
            margin-left: auto;
            width: 65%;
            display: flex;
            justify-content: flex-end;

            & .register-button {
              display: flex;
              border: none;
              text-align: center;
              text-overflow: ellipsis;
              padding: 1.5vw 2.5vw;
              white-space: nowrap;
              color: $textColor;
              background-color: $secondaryColor;
              font-family: "ITCMedium";
              justify-content: center;
              vertical-align: center;
              align-items: center;
              font-size: 1.25vw;
              color: #fff;
              overflow: hidden;
              outline: none;
              cursor: pointer;
              transition: box-shadow 0.2s;

              & .logo {
                height: 100%;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  & footer {
    background: none;
    width: 100%;
    height: 10%;
    position: relative;
    top: 84vh;
    text-align: center;
    overflow: hidden;

    & .white-arrow {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      & .chevron {
        cursor: pointer;
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
      }

      & .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
      }

      & .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
      }

      & .chevron:before,
      & .chevron:after {
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #fff;
      }

      & .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
      }

      & .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
      }
    }
  }
}

.go-back {
  color: $secondaryColor;
  width: 80%;
  margin: 1em auto;
  font-family: "ITCRegular", sans-serif;
  cursor: pointer;

  a {
    color: $secondaryColor;
    text-decoration: none;
    display: flex;
  }

  i {
    font-size: 30px;
    margin-right: 5px;
  }
}

#code-of-conduct {
  background-color: $fadedColor;
  width: 80%;
  margin: 1em auto;
  border: 1px solid $secondaryColor;

  h1 {
    background-color: $secondaryColor;
    color: $textColor;
    border-bottom: 1px solid $secondaryColor;
    padding: 1rem;
    font-family: "ITCBold", sans-serif;
  }

  ul {
    margin: 2rem;
    font-family: "ITCRegular", sans-serif;
    color: $textColor;
    font-size: 1.25rem;
    line-height: 2rem;

    a {
      text-decoration: none;
      color: $secondaryColor;
      cursor: pointer;
    }
  }
}

// Animation
@keyframes move {
  25% {
    opacity: 0.4;
  }

  33% {
    opacity: 0.4;
    transform: translateY(30px);
  }

  67% {
    opacity: 0.4;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

// About Page
.aboutPage {
  display: block;
  // border: 1px solid green;

  header {
    // border: 1px solid yellow;

    & .title-group {
      position: relative;
      left: -15.83vw;
      display: flex;

      img {
        height: 3.4vw;
        width: auto;
        margin-right: 0.83vw;
      }

      & .title {
        // border: 1px solid purple;
        font-size: 4.17vw;
        line-height: 4.17vw;
        height: 3.58vw;
        color: white;
        font-family: "ITCBold", sans-serif;
      }
    }
  }

  main {
    // border: 1px solid salmon;

    & .information {
      // border: 1px solid gray;
      margin: 2.5vw auto;
      width: 50%;
      font-size: 1.25vw;
      padding: 0 4.17vw;
      color: white;
      font-family: "ITCRegular", sans-serif;

      p {
        margin: 1.67vw 0;
      }
    }

    & .bottom-caption {
      font-family: "ITCBold", sans-serif;
      color: $fadedColor;
      font-size: 2vw;
    }
  }
}

// FAQ Page
.faqPage {
  display: block;
  // border: 1px solid green;
  @include header;

  main {

    // border: 1px solid blue;
    & .faq-grid {
      display: flex;
      min-width: 30vw; // border: 1px solid brown;
      width: 85.5%;
      margin: 2.5vw auto;
      margin-bottom: 2.92vw;
      overflow: hidden;
      flex-wrap: wrap;

      & .shift-left,
      .shift-right {
        width: 49%;
        margin: 0 auto;
      }

      & .collapsible {

        &.active {
          grid-column: span 2;
        }
      }

      & .collapsible-header {
        @include collapsible;
        font-family: "ITCRegular", sans-serif;
        margin: auto;
        border-left-style: outset !important;
        border-color: #4bba83 !important;

        &:hover {
          opacity: 0.8;
        }

        & .question-group {
          width: 100%;
          display: flex;

          & .question {
            // border: 1px solid yellow;
            width: 92%;
            cursor: pointer;
            text-align: left;
          }
        }
      }

      & .collapsible-content {
        overflow: auto;
        max-height: 0;
        font-family: "ITCregular", sans-serif;
        background-color: #232323;
        color: $textColor;
        font-size: 1.25vw;
        padding: 0 1.63vw;
      }

      & .active {
        &+.collapsible-content {
          padding: 1.63vw;
        }

        & .arrow {
          transform: rotate(180deg);
        }
      }

      & .c-of-c-text {
        @include collapsible;
        font-family: "ITCMedium", sans-serif;
        text-align: left;

        &:hover {
          opacity: 0.8;
        }

        & .c-of-c-collection {
          display: flex;

          & .text {
            width: 92%;
          }

          & .arrow {
            width: 8%;
            text-align: center;

            img {
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }

  & .arrow {
    // border: 1px solid skyblue;
    width: 8%;
    text-align: center;
    cursor: pointer;

    img {
      width: 1.27vw;
      cursor: inherit;
    }
  }

  & footer {
    background: none;
    text-align: center;
    padding: 0.84vw;

    & .contact {
      color: $textColor;
      font-family: "ITCMedium", sans-serif;
      font-size: 1.25vw;

      & .link {
        a {
          color: $secondaryColor;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.organizers {
  @include header;

  main {
    img {
      width: 100%;
      height: auto;
      object-fit: cover !important;
    }

    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(13vw, 1fr));

    & div {
      overflow: hidden;
      background-color: $fadedColor;
    }

    & p {
      padding: 0.82vw;
      color: $secondaryColor;
      font-family: "ITCDemi", sans-serif;
      font-size: 1.25vw;

      & span {
        font-size: 1.25vw;
        font-family: "ITCRegular", sans-serif;
        color: white;
      }
    }
  }
}

.sponsors {
  @include header;

  main {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(13vw, 1fr));



    & .grid-element {
      // background-color: red;
      grid-column: span 2;
      height: 13vw;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        max-width: 20vw;
        height: auto;
        max-height: 7vw;
        margin: 0 auto;
        cursor: pointer;
      }
    }

    & .title-sponser {
      grid-column: 1/-1;
      // background-color: red;

    }

    & .secondary-sponser {
      grid-column: span 3;
      // background-color: red;
    }
  }
}

// Website Footer
footer {
  width: 100%;
  height: 16.67vw;
  background-color: $fadedColor;
  color: white;
  position: relative;
  font-size: 1.25vw;
  font-family: "ITCRegular", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & .footer-content {
    text-align: center;
    // border: 1px solid red;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .social-handler-group {
      padding: 1vw 0;
      color: $textColor;
      // border: 1px solid blue;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      & .line {
        height: 2px;
        width: 100%;
        background-color: $secondaryColor;
      }

      & .social-handles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: $mainColor;
        width: 100%;
        padding: 1.02vw;
        padding-bottom: 0.25vw;
        border-radius: 10px;
        text-align: center;
        margin: 1vw 0.5vw;

        a,
        a:hover,
        a:focus,
        a:active {
          text-decoration: none;
        }

        & .social-icon {
          cursor: pointer;
          margin-bottom: 0.76vw;
          box-sizing: border-box;
          border-radius: 138px;
          border: 5px solid;
          text-align: center;
          width: 2.55vw;
          height: 2.55vw;
          display: inline-block;
          line-height: 0.045vw;
          padding-top: 0.56vw;
          transition: all 0.5s;

          & i {
            cursor: pointer;
          }

          &:hover {
            cursor: pointer;
            transform: rotate(360deg) scale(1.3);
          }

          &.facebook {
            font-size: 1.12vw;
            border-color: $facebook-color;
            background-color: $facebook-color;
            color: #ffffff;
            text-align: center;

            i {
              position: relative;
              top: calc(50% - 0.84vw);
            }

            &:hover {
              background-color: #ffffff;
              color: $facebook-color;
            }
          }

          &.twitter {
            font-size: 1.12vw;
            border-color: $twitter-color;
            background-color: $twitter-color;
            color: #ffffff;
            text-align: center;

            &:hover {
              background-color: #ffffff;
              color: $twitter-color;
            }

            i {
              position: relative;
              top: calc(50% - 0.84vw);
            }
          }

          &.instagram {
            font-size: 1.12vw;
            border-color: $instagram-color;
            background-color: $instagram-color;
            color: #ffffff;
            text-align: center;

            &:hover {
              background-color: #ffffff;
              color: $instagram-color;
            }

            i {
              position: relative;
              top: calc(50% - 0.84vw);
            }
          }

          &.github {
            font-size: 1.12vw;
            background-color: $github-color;
            color: #ffffff;
            border-color: $github-color;
            text-align: center;

            &:hover {
              background-color: #ffffff;
              color: $github-color;
            }

            i {
              position: relative;
              top: calc(50% - 0.84vw);
            }
          }
        }
      }
    }

    img {
      width: 60%;
      height: auto;
      cursor: pointer;
    }
  }

  .sponsors {
    main {
      width: 100%;
    }
  }
}

// Small Laptop
@media screen and (max-width: 1366px) {
  .faqPage {
    main {
      & .faq-grid {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      }
    }

    footer {
      height: 10rem;
    }
  }

  .organizers {
    main {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

      img {
        min-height: 10rem;
      }
    }
  }
}


// Tablet
@media screen and (max-width: 768px) {
  header.nav-bar {
    display: none;
  }

  .landingPage {
    footer {
      & .white-arrow {
        height: 5rem;
      }
    }
  }

  .icon {
    display: block;
  }

  .hamburger {
    display: block;
  }

  // About Page
  .aboutPage {
    header {
      & .title-group {
        left: -20rem;

        img {
          height: 2rem;
          margin-right: 1rem;
        }

        & .title {
          font-size: 2rem;
          line-height: 2rem;
          height: 1.5rem;
        }
      }
    }

    main {
      margin-top: 2em;

      & .information {
        width: 70%;
        font-size: 0.8rem;
      }

      & .bottom-caption {
        font-size: 3vw;
      }
    }
  }

  // FAQ Page
  .faqPage {
    header {
      & .title-group {
        left: -20rem;

        img {
          height: 2rem;
          margin-right: 1rem;
        }

        & .title {
          font-size: 2rem;
          line-height: 2rem;
          height: 1.5rem;
        }
      }
    }

    main {
      margin-top: 2em;

      & .faq-grid {
        width: 70%;
        margin: 0 auto;
        grid-template-columns: auto;

        & .shift-left,
        .shift-right {
          width: 100%;
        }

        & .collapsible-header {
          font-size: 0.8rem;
        }

        & .collapsible-content {
          font-size: 0.8rem;
        }

        & .c-of-c-text {
          font-size: 0.8rem;
        }
      }
    }

    & footer {
      & .contact {
        font-size: 0.8rem;
      }
    }
  }

  // Organizers
  .organizers {
    header {
      & .title-group {
        left: -20rem;

        img {
          height: 2rem;
          margin-right: 1rem;
        }

        & .title {
          font-size: 2rem;
          line-height: 2rem;
          height: 1.5rem;
        }
      }
    }

    main {
      width: 70%;
      margin: 1rem auto;

      p {
        font-size: 0.6rem;

        span {
          font-size: 0.8rem;
        }
      }
    }
  }

  // Sponsors
  .sponsors {
    header {
      & .title-group {
        left: -20rem;

        img {
          height: 2rem;
          margin-right: 1rem;
        }

        & .title {
          font-size: 2rem;
          line-height: 2rem;
          height: 1.5rem;
        }
      }
    }

    main {
      grid-template-columns: repeat(auto, minmax(5rem, 1fr));
      width: 70%;
      margin: 2em auto;

      & .grid-element {
        grid-column: span 1;
        min-height: 5rem;

        img {
          max-height: 3rem;
          max-width: 5rem;
        }
      }

      & .title-sponser {
        grid-column: 1/-1;
      }

      & .secondary-sponser {
        grid-column: 1/-1;
      }
    }
  }

  // Footer
  footer {
    background-color: $fadedColor;
  }
}

// Portrait Devices
@media screen and (max-width: 600px) {
  .page {
    margin: 5rem 0;
  }

  // Hamburger
  .hamburger {
    & .nav-links {
      & .nav-link {
        a {
          font-size: 2rem;
        }
      }
    }
  }

  .go-back {
    a {
      h1 {
        font-size: 1rem;
      }

      i {
        font-size: 15px;
      }
    }
  }

  // Code of Conduct
  #code-of-conduct {
    h1 {
      padding: 0.5rem;
      font-size: 1rem;
    }

    ul {
      margin: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  // Landing Page
  .landingPage {
    background-size: 250%;

    & footer {
      top: 60%;
    }

    main {
      top: 10vh;

      & .hero-section {
        width: 100%;

        & .hero-title {
          height: 55%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          img {
            width: 4rem;
          }

          & .title-group {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            line-height: 1rem;
            height: auto;

            & .title {
              font-size: 2rem;
            }

            & .sub-title {
              font-size: 1rem;
            }

            & .button-container {
              display: block;
              // border: 1px solid red;
              margin-top: 0;
              margin-left: 0;
              width: 90%;

              & .register-button {
                padding: 0.8rem 0;
                width: 100%;
                height: 100%;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }

  // aboutPage
  .aboutPage {
    main {
      & .bottom-caption {
        font-size: 6vw;
      }
    }
  }

  // faqPage
  .faqPage {
    & .arrow {
      img {
        width: 1rem;
        height: auto;
      }
    }

    main {
      margin-top: 2rem;

      & .faq-grid {
        grid-gap: 0.15rem;

        & .collapsible-header {
          height: auto;
          line-height: 1rem;
          padding: 0.6rem;
        }

        & .c-of-c-text {
          height: auto;
          line-height: 1rem;
          padding: 0.6rem;
        }
      }
    }
  }

  // Organizers
  .organizers {
    main {
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      margin-top: 2em;
    }
  }

  .sponsors {
    main {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

      & .grid-element {
        grid-column: span 1;
        min-height: 5rem;

        img {
          max-height: 3rem;
          max-width: 5rem;
        }
      }

      & .title-sponser {
        grid-column: 1/-1;
      }

      & .secondary-sponser {
        grid-column: 1/-1;
      }
    }
  }


  // Footer
  footer {
    font-size: 1rem;
    height: 30rem;
    flex-direction: column;

    & .footer-content {
      width: 80%;
      margin: 0 auto;

      & .social-handler-group {
        width: 60%;

        & .social-handles {
          & .social-icon {
            width: 2rem;
            height: 2rem;

            &.facebook {
              i {
                position: static;
                font-size: 1rem;
              }
            }

            &.twitter {
              i {
                position: static;
                font-size: 1rem;
              }
            }

            &.instagram {
              i {
                position: static;
                font-size: 1rem;
              }
            }

            &.github {
              i {
                position: static;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}